<div *ngFor="let favorite of favorites" class="example-form" style="margin-bottom: 20px;">
  <mat-accordion class="example-full-width">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{favorite.fanfic.fanfic_name}}
        </mat-panel-title>
        <mat-panel-description style="flex-grow: 0;">
          Likes: {{favorite.fanfic.count_likes}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Description: {{favorite.fanfic.description}}</p>
      <p>Create Date: {{favorite.fanfic.creation_date}}</p>
      <p>Created by: {{favorite.fanfic.user_username}}</p>
      <button mat-raised-button color="warn" (click)="removeFromFavorite(favorite.fanfic)">Remove fanfic from
        favorite</button>
      <button mat-icon-button style="float: right;">
        <a routerLink="/fanfic/id/{{favorite.fanfic.id}}">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>