<div class="form-group">
  <div *ngFor="let fanfic of fanfics" class="example-form" style="margin-bottom: 20px;">
    <mat-accordion class="example-full-width">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>
              {{fanfic.fanfic_name}}
            </b>
          </mat-panel-title>
          <mat-panel-description style="flex-grow: 0;">
            Likes: {{fanfic.count_likes}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description: {{fanfic.description}}</p>
        <p>Create Date: {{fanfic.creation_date}}</p>
        <p>Created by: {{fanfic.user_username}}</p>
        <button mat-raised-button color="warn" (click)="deleteFanfic(fanfic.id)">Delete fanfic</button>
        <button mat-raised-button color="primary" style="margin-left: 20px;">
          <a routerLink="/fanfic/edit_fanfic/{{fanfic.id}}" style="color: white;">
            Edit fanfic
          </a>
        </button>
        <button mat-icon-button style="float: right;">
          <a routerLink="/fanfic/id/{{fanfic.id}}" style="text-decoration:none;">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>