<div class="example-form">
  <div style="text-align: center;">
    <button mat-stroked-button color="primary" (click)="sortByLikes()" style="margin-left: 4%; margin-bottom: 1%;">Sort
      by
      likes</button>
    <button mat-stroked-button color="primary" (click)="sortByLatest()" style="margin-left: 4%; margin-bottom: 1%;">Sort
      by newest</button>
    <button mat-stroked-button color="primary" (click)="sortByOldest()" style="margin-left: 4%; margin-bottom: 1%;">Sort
      by old</button>
  </div>
  <div *ngFor="let fanfic of fanfics" style="margin-bottom: 20px;">
    <mat-accordion class="example-full-width">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{fanfic.fanfic_name}}
          </mat-panel-title>
          <mat-panel-description style="flex-grow: 0;">
            Likes: {{fanfic.count_likes}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description: {{fanfic.description}}</p>
        <p>Create Date: {{fanfic.creation_date}}</p>
        <p>Created by: {{fanfic.user_username}}</p>
        <button mat-icon-button style="float: right;">
          <a routerLink="/fanfic/id/{{fanfic.id}}">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>