<form [formGroup]="orderForm" (ngSubmit)="OnSubmit(orderForm.value)">
    <div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Fandom</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let fandom of fandoms" 
                [value]="fandom.fandom_name" >
                    {{fandom.fandom_name}}
                </option>
            </select>
          </div>
        <input type="text" formControlName="fanficName" placeholder="Fanfic name"/>
    </div>
    <div formArrayName="items" *ngFor="let item of items.controls; let i = index;">
      <div [formGroupName]="i">
        <input type="text" formControlName="partName" placeholder="Part name"/>
      </div>
      <div [formGroupName]="i">
        <textarea class="form-control" aria-label="With textarea" type="text" formControlName="partText" placeholder="Part Text"></textarea>
      </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
    <div>
        <button type="button" (click)="addItem()">Add More</button>
    </div>
  </form>
