<form class="example-form" [formGroup]="orderForm" (ngSubmit)="OnSubmit(orderForm.value)">
  <div>
    <div>
      <mat-form-field appearance="fill" class="example-full-width" >
        <mat-label>Fandom</mat-label>
        <select matNativeControl d="exampleFormControlSelect1" (change)="selectChangeHandler($event)">
          <option *ngFor="let fandom of fandoms" [value]="fandom.fandom_name">
            {{fandom.fandom_name}}
          </option>
        </select>
      </mat-form-field>
    </div>
    <div >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fanfic name</mat-label>
        <input matInput type="text" formControlName="fanficName" placeholder="Ex. Harry's Adventures" required>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fanfic Description</mat-label>
        <input matInput type="text" formControlName="fanficDescription"
          placeholder="Ex. The story of Harry's adventures" required>
      </mat-form-field>
    </div>
  </div>

  <div  formArrayName="items" *ngFor="let item of items.controls; let i = index;">
    <div [formGroupName]="i">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Part name</mat-label>
        <input matInput type="text" formControlName="partName" placeholder="Ex. First Part" required>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Part Text</mat-label>
        <textarea matInput type="text" formControlName="partText" placeholder="Part Text"
          placeholder="Ex. It makes me feel..." required></textarea>
      </mat-form-field>
    </div>
    <div class="example-button-row">
      <button mat-raised-button color="warn" (click)="removeItem(item.get('partId')?.value)" *ngIf='i != 0'>Remove fanfic part</button>
      <button mat-raised-button class="example-full-width" color="primary" type="button" (click)="addItem()" style="float: right; margin-bottom: 20px;" *ngIf='i == 0'>Add More</button>
      <button mat-raised-button color="primary" type="button" (click)="addItem()" style="float: right; margin-bottom: 20px;" *ngIf='i != 0'>Add More</button>
    </div>
  </div>
  <div>
    <button mat-raised-button type="submit" class="example-full-width" style="margin-bottom: 70px;" [disabled]="!orderForm.valid">Save</button>
  </div>
  <div>
  </div>
</form>